@inherits LayoutComponentBase
@Body
<div id="blazor-error-ui" data-nosnippet>
    <strong>Oops!</strong> Something went wrong.
    <a href="." class="reload">Try reloading</a>
    <span class="dismiss">🗙</span>
</div>